In [1]:
import pandas as pd
from datetime import timedelta
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [2]:
df_ = pd.read_csv("flo_data_20k.csv", encoding='utf-8')
df = df_.copy()

In [3]:
def quick_info(dataframe):
    print("--------- HEAD ---------")
    print(dataframe.head(10))
    print("--------- SHAPE ---------")
    print(dataframe.shape)
    print("--------- COLUMNS ---------")
    print(dataframe.columns)
    print("--------- DESCRIBE ---------")
    print(dataframe.describe().T)
    print("--------- INFO ---------")
    print(dataframe.info())
    print("--------- FREQUENCY ---------")
    print(dataframe.nunique())
    print("--------- ANY NULL VALUES ---------")
    print(dataframe.isnull().values.any())
    print("--------- SUM OF NULL VALUES ---------")
    print(dataframe.isnull().sum())

quick_info(df)

--------- HEAD ---------
                              master_id order_channel last_order_channel  \
0  cc294636-19f0-11eb-8d74-000d3a38a36f   Android App            Offline
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f   Android App             Mobile
2  69b69676-1a40-11ea-941b-000d3a38a36f   Android App        Android App
3  1854e56c-491f-11eb-806e-000d3a38a36f   Android App        Android App
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       Desktop            Desktop
5  e585280e-aae1-11e9-a2fc-000d3a38a36f       Desktop            Offline
6  c445e4ee-6242-11ea-9d1a-000d3a38a36f   Android App        Android App
7  3f1b4dc8-8a7d-11ea-8ec0-000d3a38a36f        Mobile            Offline
8  cfbda69e-5b4f-11ea-aca7-000d3a38a36f   Android App        Android App
9  1143f032-440d-11ea-8b43-000d3a38a36f        Mobile             Mobile

  first_order_date last_order_date last_order_date_online  \
0       2020-10-30      2021-02-26             2021-02-21
1       2017-02-08      2021-02-16             2021-02-16
2       2019-11-27      2020-11-27             2020-11-27
3       2021-01-06      2021-01-17             2021-01-17
4       2019-08-03      2021-03-07             2021-03-07
5       2018-11-18      2021-03-13             2018-11-18
6       2020-03-04      2020-10-18             2020-10-18
7       2020-05-15      2020-08-12             2020-05-15
8       2020-01-23      2021-03-07             2021-03-07
9       2019-07-30      2020-10-04             2020-10-04

  last_order_date_offline  order_num_total_ever_online  \
0              2021-02-26                        4.000
1              2020-01-10                       19.000
2              2019-12-01                        3.000
3              2021-01-06                        1.000
4              2019-08-03                        1.000
5              2021-03-13                        1.000
6              2020-03-04                        3.000
7              2020-08-12                        1.000
8              2020-01-25                        3.000
9              2019-07-30                        1.000

   order_num_total_ever_offline  customer_value_total_ever_offline  \
0                         1.000                            139.990
1                         2.000                            159.970
2                         2.000                            189.970
3                         1.000                             39.990
4                         1.000                             49.990
5                         2.000                            150.870
6                         1.000                             59.990
7                         1.000                             49.990
8                         2.000                            120.480
9                         1.000                             69.980

   customer_value_total_ever_online       interested_in_categories_12
0                           799.380                           [KADIN]
1                          1853.580  [ERKEK, COCUK, KADIN, AKTIFSPOR]
2                           395.350                    [ERKEK, KADIN]
3                            81.980               [AKTIFCOCUK, COCUK]
4                           159.990                       [AKTIFSPOR]
5                            49.990                           [KADIN]
6                           315.940                       [AKTIFSPOR]
7                           113.640                           [COCUK]
8                           934.210             [ERKEK, COCUK, KADIN]
9                            95.980                [KADIN, AKTIFSPOR]
--------- SHAPE ---------
(19945, 12)
--------- COLUMNS ---------
Index(['master_id', 'order_channel', 'last_order_channel', 'first_order_date',
       'last_order_date', 'last_order_date_online', 'last_order_date_offline',
       'order_num_total_ever_online', 'order_num_total_ever_offline',
       'customer_value_total_ever_offline', 'customer_value_total_ever_online',
       'interested_in_categories_12'],
      dtype='object')
--------- DESCRIBE ---------
                                      count    mean     std    min     25%  \
order_num_total_ever_online       19945.000   3.111   4.226  1.000   1.000
order_num_total_ever_offline      19945.000   1.914   2.063  1.000   1.000
customer_value_total_ever_offline 19945.000 253.923 301.533 10.000  99.990
customer_value_total_ever_online  19945.000 497.322 832.602 12.990 149.980

                                      50%     75%       max
order_num_total_ever_online         2.000   4.000   200.000
order_num_total_ever_offline        1.000   2.000   109.000
customer_value_total_ever_offline 179.980 319.970 18119.140
customer_value_total_ever_online  286.460 578.440 45220.130
--------- INFO ---------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  object
 4   last_order_date                    19945 non-null  object
 5   last_order_date_online             19945 non-null  object
 6   last_order_date_offline            19945 non-null  object
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
dtypes: float64(4), object(8)
memory usage: 1.8+ MB
None
--------- FREQUENCY ---------
master_id                            19945
order_channel                            4
last_order_channel                       5
first_order_date                      2465
last_order_date                        366
last_order_date_online                1743
last_order_date_offline                738
order_num_total_ever_online             57
order_num_total_ever_offline            32
customer_value_total_ever_offline     6097
customer_value_total_ever_online     11292
interested_in_categories_12             32
dtype: int64
--------- ANY NULL VALUES ---------
False
--------- SUM OF NULL VALUES ---------
master_id                            0
order_channel                        0
last_order_channel                   0
first_order_date                     0
last_order_date                      0
last_order_date_online               0
last_order_date_offline              0
order_num_total_ever_online          0
order_num_total_ever_offline         0
customer_value_total_ever_offline    0
customer_value_total_ever_online     0
interested_in_categories_12          0
dtype: int64

In [4]:
#The number of orders and expenses made by customers both online and offline were combined
df['order_num_total'] = df['order_num_total_ever_online'] + df['order_num_total_ever_offline'] #Orders
df['customer_value_total'] = df['customer_value_total_ever_online'] + df['customer_value_total_ever_offline'] #Expenses

In [5]:
# Current dtype is 'object' and format is yy-mm-dd
date_cols = df.columns[df.columns.str.contains('date')]
# Converted to date type
df[date_cols] = df[date_cols].apply(pd.to_datetime)

In [6]:
# Distribution of the total of customer orders and expenses by order channel
df.groupby('order_channel').agg({'master_id':'count',
                                 "order_num_total":"sum",
                                 "customer_value_total":"sum"})

               master_id  order_num_total  customer_value_total
order_channel
Android App         9495        52269.000           7819062.760
Desktop             2735        10920.000           1610321.460
Ios App             2833        15351.000           2525999.930
Mobile              4882        21679.000           3028183.160

In [7]:
# Top 10 who spent the most money
df.sort_values('customer_value_total',ascending=False).head(10)

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,order_num_total,customer_value_total
11150,5d1c466a-9cfd-11e9-9897-000d3a38a36f,Android App,Desktop,2013-10-11,2021-04-30,2021-04-30,2020-12-24,200.000,2.000,684.970,45220.130,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",202.000,45905.100
4315,d5ef8058-a5c6-11e9-a2fc-000d3a38a36f,Android App,Android App,2018-08-06,2021-02-23,2021-02-23,2020-07-06,67.000,1.000,130.490,36687.800,"[AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]",68.000,36818.290
7613,73fd19aa-9e37-11e9-9897-000d3a38a36f,Ios App,Offline,2014-01-14,2021-05-18,2021-01-30,2021-05-18,81.000,1.000,1263.760,32654.340,"[ERKEK, COCUK, KADIN, AKTIFSPOR]",82.000,33918.100
13880,7137a5c0-7aad-11ea-8f20-000d3a38a36f,Ios App,Offline,2021-03-01,2021-04-13,2021-03-18,2021-04-13,10.000,1.000,538.940,30688.470,"[ERKEK, KADIN, AKTIFSPOR]",11.000,31227.410
9055,47a642fe-975b-11eb-8c2a-000d3a38a36f,Android App,Offline,2021-04-07,2021-04-27,2021-04-07,2021-04-27,1.000,3.000,18119.140,2587.200,[AKTIFSPOR],4.000,20706.340
7330,a4d534a2-5b1b-11eb-8dbd-000d3a38a36f,Desktop,Desktop,2020-02-16,2021-04-30,2021-04-30,2020-12-18,66.000,4.000,843.680,17599.890,"[ERKEK, KADIN, AKTIFSPOR]",70.000,18443.570
8068,d696c654-2633-11ea-8e1c-000d3a38a36f,Ios App,Ios App,2017-05-10,2021-04-13,2021-04-13,2019-08-15,69.000,1.000,82.480,16836.090,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",70.000,16918.570
163,fef57ffa-aae6-11e9-a2fc-000d3a38a36f,Mobile,Desktop,2016-11-08,2021-05-12,2021-05-12,2020-07-09,36.000,1.000,180.730,12545.370,"[ERKEK, AKTIFSPOR]",37.000,12726.100
7223,cba59206-9dd1-11e9-9897-000d3a38a36f,Android App,Android App,2013-02-21,2021-05-09,2021-05-09,2020-01-25,130.000,1.000,49.990,12232.250,"[AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]",131.000,12282.240
18767,fc0ce7a4-9d87-11e9-9897-000d3a38a36f,Desktop,Desktop,2018-11-24,2020-11-11,2020-11-11,2019-12-06,18.000,2.000,64.970,12038.180,"[ERKEK, KADIN]",20.000,12103.150

In [8]:
# Top 10 who ordered the most product
df.sort_values('order_num_total',ascending=False).head(10)

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,order_num_total,customer_value_total
11150,5d1c466a-9cfd-11e9-9897-000d3a38a36f,Android App,Desktop,2013-10-11,2021-04-30,2021-04-30,2020-12-24,200.000,2.000,684.970,45220.130,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",202.000,45905.100
7223,cba59206-9dd1-11e9-9897-000d3a38a36f,Android App,Android App,2013-02-21,2021-05-09,2021-05-09,2020-01-25,130.000,1.000,49.990,12232.250,"[AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]",131.000,12282.240
8783,a57f4302-b1a8-11e9-89fa-000d3a38a36f,Android App,Offline,2019-08-07,2020-11-04,2020-09-07,2020-11-04,2.000,109.000,10239.460,143.980,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",111.000,10383.440
2619,fdbe8304-a7ab-11e9-a2fc-000d3a38a36f,Android App,Offline,2018-10-18,2020-06-30,2018-10-18,2020-06-30,1.000,87.000,8432.250,139.980,[ERKEK],88.000,8572.230
6322,329968c6-a0e2-11e9-a2fc-000d3a38a36f,Ios App,Ios App,2019-02-14,2021-04-05,2021-04-05,2020-02-17,2.000,81.000,3997.550,242.810,[ERKEK],83.000,4240.360
7613,73fd19aa-9e37-11e9-9897-000d3a38a36f,Ios App,Offline,2014-01-14,2021-05-18,2021-01-30,2021-05-18,81.000,1.000,1263.760,32654.340,"[ERKEK, COCUK, KADIN, AKTIFSPOR]",82.000,33918.100
9347,44d032ee-a0d4-11e9-a2fc-000d3a38a36f,Mobile,Mobile,2019-02-11,2021-02-11,2021-02-11,2020-12-24,3.000,74.000,4640.770,543.280,"[KADIN, AKTIFSPOR]",77.000,5184.050
10954,b27e241a-a901-11e9-a2fc-000d3a38a36f,Mobile,Mobile,2015-09-12,2021-04-01,2021-04-01,2019-10-08,72.000,3.000,292.930,5004.950,"[AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]",75.000,5297.880
8068,d696c654-2633-11ea-8e1c-000d3a38a36f,Ios App,Ios App,2017-05-10,2021-04-13,2021-04-13,2019-08-15,69.000,1.000,82.480,16836.090,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",70.000,16918.570
7330,a4d534a2-5b1b-11eb-8dbd-000d3a38a36f,Desktop,Desktop,2020-02-16,2021-04-30,2021-04-30,2020-12-18,66.000,4.000,843.680,17599.890,"[ERKEK, KADIN, AKTIFSPOR]",70.000,18443.570

*RECALL*
**Recency**: The freshness of the customer activity
**Frequency**: The frequency of the customer transactions or visit
**Monetary**: The intention of customer to spend or purchasing power of customer

In [9]:
# Return the latest order in the dataset, required to determine analysis date
latest_order_date = df['last_order_date'].max()
latest_order_date

Timestamp('2021-05-30 00:00:00')

In [10]:
# Allowed to select the analysis date 2 days after the maximum date to calculate the recency value
analysis_date = latest_order_date + timedelta(days=2)

In [11]:
# Calculations of RFM Metrics
rfm = df.groupby('master_id').agg({'last_order_date': lambda date: (analysis_date - date.max()).days, #Recency
                                   'order_num_total': lambda order_num_total: order_num_total, #Frequency
                                   'customer_value_total': lambda customer_value_total: customer_value_total.sum()}) #Monetary

In [12]:
rfm.head()

,last_order_date,order_num_total,customer_value_total
master_id,,,
00016786-2f5a-11ea-bb80-000d3a38a36f,10,5.000,776.070
00034aaa-a838-11e9-a2fc-000d3a38a36f,298,3.000,269.470
000be838-85df-11ea-a90b-000d3a38a36f,213,4.000,722.690
000c1fe2-a8b7-11ea-8479-000d3a38a36f,27,7.000,874.160
000f5e3e-9dde-11ea-80cd-000d3a38a36f,20,7.000,1620.330

In [13]:
# Rename column names according to calculated RFM metrics
rfm.columns = ['recency', 'frequency', 'monetary']

In [14]:
rfm.head()

                                      recency  frequency  monetary
master_id
00016786-2f5a-11ea-bb80-000d3a38a36f       10      5.000   776.070
00034aaa-a838-11e9-a2fc-000d3a38a36f      298      3.000   269.470
000be838-85df-11ea-a90b-000d3a38a36f      213      4.000   722.690
000c1fe2-a8b7-11ea-8479-000d3a38a36f       27      7.000   874.160
000f5e3e-9dde-11ea-80cd-000d3a38a36f       20      7.000  1620.330

In [15]:
# Converted RFM metrics to RFM scores with qcut & assigned to new columns
rfm["recency_score"] = pd.qcut(rfm['recency'], 5, labels=[5, 4, 3, 2, 1])

rfm["frequency_score"] = pd.qcut(rfm['frequency'].rank(method="first"), 5, labels=[1, 2, 3, 4, 5])

rfm["monetary_score"] = pd.qcut(rfm['monetary'], 5, labels=[1, 2, 3, 4, 5])

In [16]:
rfm.loc[:,['recency_score','frequency_score','monetary_score']]

,recency_score,frequency_score,monetary_score
master_id,,,
00016786-2f5a-11ea-bb80-000d3a38a36f,5,4,4
00034aaa-a838-11e9-a2fc-000d3a38a36f,1,2,1
000be838-85df-11ea-a90b-000d3a38a36f,2,3,4
000c1fe2-a8b7-11ea-8479-000d3a38a36f,5,4,4
000f5e3e-9dde-11ea-80cd-000d3a38a36f,5,4,5
...,...,...,...
fff1db94-afd9-11ea-b736-000d3a38a36f,2,4,4
fff4736a-60a4-11ea-8dd8-000d3a38a36f,4,2,2
fffacd34-ae14-11e9-a2fc-000d3a38a36f,1,4,4
fffacecc-ddc3-11e9-a848-000d3a38a36f,3,5,5
fffe4b30-18e0-11ea-9213-000d3a38a36f,1,4,3

In [17]:
# Create RF Score with Recency & Frequency Score
rfm["rf_score"] = rfm[['recency_score', 'frequency_score']].apply(lambda x: "".join(x.astype(str)), axis=1)

In [18]:
# Reset index & add master_id as a column instead of index
rfm = rfm.reset_index()

In [19]:
rfm.loc[:,['recency_score','frequency_score', 'rf_score']]

      recency_score frequency_score rf_score
0                 5               4       54
1                 1               2       12
2                 2               3       23
3                 5               4       54
4                 5               4       54
...             ...             ...      ...
19940             2               4       24
19941             4               2       42
19942             1               4       14
19943             3               5       35
19944             1               4       14

[19945 rows x 3 columns]

In [20]:
# 'Segmentation' with RFM labelling
# Regex is used to perform this, but can also be done with Dict.

segmentation_map = {
    r'[1-2][1-2]': 'hibernating',
    r'[1-2][3-4]': 'at_Risk',
    r'[1-2]5': 'cant_loose',
    r'3[1-2]': 'about_to_sleep',
    r'33': 'need_attention',
    r'[3-4][4-5]': 'loyal_customers',
    r'41': 'promising',
    r'51': 'new_customers',
    r'[4-5][2-3]': 'potential_loyalists',
    r'5[4-5]': 'champions'
}

rfm['segment'] = rfm['rf_score'].replace(to_replace=segmentation_map, regex=True)

In [21]:
rfm.loc[:,['rf_score','segment']]

      rf_score              segment
0           54            champions
1           12          hibernating
2           23              at_Risk
3           54            champions
4           54            champions
...        ...                  ...
19940       24              at_Risk
19941       42  potential_loyalists
19942       14              at_Risk
19943       35      loyal_customers
19944       14              at_Risk

[19945 rows x 2 columns]

In [22]:
# Observed the averages of "recency", "frequency", "monetary" values by segmentation
rfm.groupby('segment')[["recency", "frequency", "monetary"]].mean()

                     recency  frequency  monetary
segment
about_to_sleep       114.032      2.407   361.649
at_Risk              242.329      4.470   648.325
cant_loose           235.159     10.717  1481.652
champions             17.142      8.965  1410.709
hibernating          247.426      2.391   362.583
loyal_customers       82.558      8.356  1216.257
need_attention       113.037      3.739   553.437
new_customers         17.976      2.000   344.049
potential_loyalists   36.870      3.311   533.741
promising             58.695      2.000   334.153

#### *Observation Case - 1*

FLO will include a new women's shoe brand to its catalogue but the product prices of this brand are above the general customer prefences. Therefore, they desire to contact the customers in the profile that will be interested in the promotion of this brand and product sales. Thus, they will contact customers who are in the champions, loyal_customers segment, and shoppers from the female category.

Once the analysis done, the obtained customers should be saved in the csv file with their customer ids.

In [23]:
# Define champions and loyal customers
target_segments_customer_ids = rfm[rfm["segment"].isin(["champions","loyal_customers"])]['master_id']

In [24]:
target_segments_customer_ids

0        00016786-2f5a-11ea-bb80-000d3a38a36f
3        000c1fe2-a8b7-11ea-8479-000d3a38a36f
4        000f5e3e-9dde-11ea-80cd-000d3a38a36f
18       003903e0-abce-11e9-a2fc-000d3a38a36f
22       004bec18-9f7a-11e9-a2fc-000d3a38a36f
                         ...
19932    ffdd5eb8-aee9-11e9-a2fc-000d3a38a36f
19934    ffe0ab60-6c79-11ea-9ddf-000d3a38a36f
19936    ffe5c7e8-ee12-11e9-9346-000d3a38a36f
19939    ffefdd18-77ca-11ea-9b70-000d3a38a36f
19943    fffacecc-ddc3-11e9-a848-000d3a38a36f
Name: master_id, Length: 5295, dtype: object

In [25]:
# Define those who shop from woman category
target_cat_customer_ids = df[(df["master_id"].isin(target_segments_customer_ids)) & (df["interested_in_categories_12"].str.contains("KADIN"))]["master_id"]

In [27]:
target_cat_customer_ids

0        cc294636-19f0-11eb-8d74-000d3a38a36f
1        f431bd5a-ab7b-11e9-a2fc-000d3a38a36f
8        cfbda69e-5b4f-11ea-aca7-000d3a38a36f
11       c2e15af2-9eed-11e9-9897-000d3a38a36f
33       fb840306-1219-11ea-a001-000d3a38a36f
                         ...
19912    f63aba0e-41d8-11ea-96d9-000d3a38a36f
19913    81d0da04-a53e-11e9-a2fc-000d3a38a36f
19914    825e6b00-ab40-11e9-a2fc-000d3a38a36f
19917    f8c471c8-2596-11eb-81e9-000d3a38a36f
19926    7e1c15be-6298-11ea-9861-000d3a38a36f
Name: master_id, Length: 2487, dtype: object

#### *Observation Case - 2*

FLO is planning to offer a discount of up to 40% on Men's and Children's products. It is aimed to specifically target customers who have had interest in these categories in the past but are now currently in the hibernating, new customers, and can't loose segment.

Once the analysis done, the obtained customers should be saved in the csv file with their customer ids.

In [28]:
target_segments_customer_ids = rfm[rfm["segment"].isin(["cant_loose","hibernating","new_customers"])]["master_id"]

In [29]:
target_segments_customer_ids

1        00034aaa-a838-11e9-a2fc-000d3a38a36f
5        00136ce2-a562-11e9-a2fc-000d3a38a36f
9        0022f41e-5597-11eb-9e65-000d3a38a36f
11       00263f1a-210a-11ea-b50a-000d3a38a36f
16       0033f078-7359-11ea-92d0-000d3a38a36f
                         ...
19907    ff839e5e-1fdd-11ea-87bf-000d3a38a36f
19922    ffc47e38-003d-11eb-8341-000d3a38a36f
19926    ffce3990-26be-11ea-aaaa-000d3a38a36f
19929    ffd1553a-1ed0-11ea-81ff-000d3a38a36f
19937    ffe7e6e4-5bb9-11ea-a4ac-000d3a38a36f
Name: master_id, Length: 5456, dtype: object

In [30]:
target_cat_customer_ids = df[(df["master_id"].isin(target_segments_customer_ids)) & ((df["interested_in_categories_12"].str.contains("ERKEK"))|(df["interested_in_categories_12"].str.contains("COCUK")))]["master_id"]

In [32]:
target_cat_customer_ids

7        3f1b4dc8-8a7d-11ea-8ec0-000d3a38a36f
10       ae608ece-c9d8-11ea-a31e-000d3a38a36f
15       13ed97a4-b167-11e9-89fa-000d3a38a36f
19       2730793e-3908-11ea-85d6-000d3a38a36f
21       7b289956-d691-11e9-93bc-000d3a38a36f
                         ...
19932    13a5e98c-a824-11e9-a2fc-000d3a38a36f
19933    6d285c64-5e73-11ea-be5b-000d3a38a36f
19934    9777eb76-bed4-11ea-958c-000d3a38a36f
19936    1982ac0e-9f4c-11e9-9897-000d3a38a36f
19940    727e2b6e-ddd4-11e9-a848-000d3a38a36f
Name: master_id, Length: 2770, dtype: object

---

In [33]:
def csv_output(query, filename='output', index=False):
    return query.to_csv('.'.join([filename,'csv']),index=index)

In [34]:
csv_output(target_cat_customer_ids, filename='new_woman_shoes_target')

In [36]:
csv_output(target_cat_customer_ids, filename='forty_per_discount_target')